OPENAI_API_KEY=sk-proj...
MODEL_CONFIG_SETTINGS__API_KEYS__OPENAI=sk-proj...

# placeholder
ADS_API_KEY=

# SearxNG
SEARXNG_BASE_URL="<SEARXNG base url>" #"http://localhost:8080"
SEARXNG_MAX_PAGES=25
SEARXNG_RESULTS_PER_PAGE=10
SEARXNG_SCORE_CUTOFF=0.25
SEARXNG_STRICT=False
SEARXNG_DEBUG=False
SEARXNG_ENGINES="google,arxiv,google_scholar"
