OPENAI_API_KEY=sk-proj...
MODEL_CONFIG_SETTINGS__API_KEYS__OPENAI=sk-proj...

# placeholder
ADS_API_KEY=

# SearxNG
SEARXNG_BASE_URL="<SEARXNG base url>" #"http://localhost:8080"
SEARXNG_MAX_PAGES=25
SEARXNG_RESULTS_PER_PAGE=10
SEARXNG_SCORE_CUTOFF=0.25
SEARXNG_STRICT=False
SEARXNG_DEBUG=False
SEARXNG_ENGINES="google,arxiv,google_scholar"

# For FactCheck
FACT_CHECK_API_URL="https://factreasoner-service-app.1yhbkn094k2v.us-south.codeengine.appdomain.cloud"
FACT_CHECK_JOB_TIMEOUT="1800"
FACT_CHECK_REQUEST_TIMEOUT="60"
FACT_CHECK_START_ENDPOINT="/fact-check/start"
FACT_CHECK_STATUS_ENDPOINT="/fact-check/status"
FACT_CHECK_CORRECT_ENDPOINT="/correct"
FACT_CHECK_DISPLAY_GRAPH_ENDPOINT="/display_graph"
FACT_CHECK_GRAPH_JSON_ENDPOINT="/graph/json"

# for your vector store
EMBEDDING_MODEL_ID="nasa-impact/nasa-smd-ibm-st-v2"

VECTOR_DB_PATH="./chroma_db"
# API key for various embedding functions (chroma)
EMBEDDING_MODEL_API_KEY=""
