agentic
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiolimiter==1.2.1
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
arxiv==2.1.3
asgiref==3.8.1
asttokens==3.0.0
asyncio==3.4.3
attrs==24.3.0
auth0-python==4.7.2
Authlib==1.3.1
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.36.15
botocore==1.36.15
build==1.2.2.post1
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb
click==8.1.8
cohere==5.13.11
coloredlogs==15.0.1
crewai==0.98.0
crewai-tools==0.25.8
cryptography==43.0.3
dataclasses-json==0.6.7
db-dtypes==1.4.0
decorator==5.1.1
deepsearch-glm==1.0.0
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.9
distro==1.9.0
docker==7.1.0
docling==2.15.1
docling-core==2.15.1
docling-ibm-models==3.2.1
docling-parse==3.1.1
docstring_parser==0.16
docx2txt==0.8
durationpy==0.9
easyocr==1.7.2
elastic-transport==8.17.0
elasticsearch==8.17.0
embedchain==0.1.126
envyaml==1.10.211231
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.115.6
fastavro==1.10.0
feedparser==6.0.11
filelock==3.17.0
filetype==1.2.0
flatbuffers==25.1.21
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-aiplatform==1.78.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
grpc-google-iam-v1==0.14.0
grpcio==1.67.1
grpcio-health-checking==1.67.1
grpcio-status==1.67.1
grpcio-tools==1.67.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
hyperframe==6.0.1
ibm_watsonx_ai==1.1.16
idna==3.10
ijson==3.3.0
imageio==2.37.0
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.0.0
instructor==1.7.2
ipython==8.31.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json_repair==0.35.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.15
langchain-chroma==0.1.4
langchain-cohere==0.3.5
langchain-community==0.3.15
langchain-core==0.3.31
langchain-docling==0.2.0
langchain-elasticsearch==0.3.2
langchain-experimental==0.3.4
langchain-huggingface==0.1.2
langchain-ibm==0.3.5
langchain-milvus==0.1.8
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langgraph==0.2.66
langgraph-checkpoint==2.0.10
langgraph-checkpoint-sqlite==2.0.1
langgraph-sdk==0.1.51
langsmith==0.1.147
lazy_loader==0.4
linkup-sdk==0.2.2
litellm==1.57.4
loguru==0.7.3
lomond==0.3.3
lxml==5.3.0
Mako==1.3.8
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mem0ai==0.1.47
milvus-lite==2.4.11
mmh3==5.0.1
mock==5.1.0
monotonic==1.6
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
mypy-extensions==1.0.0
narwhals==1.23.0
networkx==3.4.2
ninja==1.11.1.3
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.7
omegaconf==2.3.0
onnxruntime==1.20.1
openai==1.60.0
openapi-python-client==0.23.1
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.1.4
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.5
pexpect==4.9.0
pillow==10.4.0
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
posthog==3.9.2
pretty==0.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
PyGithub==2.5.0
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.22.0
pymilvus==2.5.4
PyNaCl==1.5.0
pypdf==5.1.0
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyright==1.1.392.post0
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.4
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.19
python-pptx==1.0.2
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
qdrant-client==1.13.2
RapidFuzz==3.11.0
referencing==0.36.1
regex==2024.11.6
remotezip==0.12.3
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
Rtree==1.3.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.2
s3transfer==0.11.2
safetensors==0.5.2
schema==0.7.7
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.1
scrapegraph_py==1.10.2
selenium==4.28.0
semchunk==2.2.2
sentence-transformers==3.4.1
serpapi==0.1.5
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
simple-ddl-parser==1.7.1
simsimd==6.2.1
six==1.17.0
slack_sdk==3.33.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spider-client==0.1.26
sql_metadata==2.15.0
SQLAlchemy==2.0.37
sqlalchemy-bigquery==1.12.1
sqlglot==25.34.0
sqlglotrs==0.3.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.41.3
streamlit==1.40.2
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
thefuzz==0.22.1
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.7.0
tinydb==4.8.2
tokenizers
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers
trio==0.28.0
trio-websocket==0.11.1
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
ujson==5.10.0
urllib3==2.1.0
uv==0.5.22
uvicorn==0.32.1
uvloop==0.21.0
validators==0.34.0
watchfiles==1.0.4
wcwidth==0.2.13
weaviate-client==4.10.4
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
XlsxWriter==3.2.0
yarl==1.18.3
zipp==3.21.0
ads
pydantic-extra-types
git+https://github.com/lukasmasuch/streamlit-pydantic.git
-e .
-e ./src/adam/client_apis/adam-backend-client/
-e ./src/adam/client_apis/data-ops-crew-backend-client/
-e ./src/adam/client_apis/memory-backend-client/
-e ./src/adam/client_apis/text-2sql-tool-server-client/