name: Deploy

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      stage:
        type: string
        required: true
      env-file:
        type: string
        required: true
      environment:
        type: string
        required: true
      aws-region:
        type: string
        required: true
      role-session-name:
        required: false
        type: string
        default: github-actions-deployment
    secrets:
      DEPLOYMENT_ROLE_ARN:
        required: true
      AWS_ACCOUNT_ID:
      ASSUME_ROLE_ARNS:
        required: true



jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      STAGE: ${{ inputs.stage }}
      AWS_REGION: ${{ inputs.aws-region }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      ASSUME_ROLE_ARNS: ${{ secrets.ASSUME_ROLE_ARNS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: "true"
          submodules: "recursive"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.DEPLOYMENT_ROLE_ARN }}
          role-session-name: ${{ inputs.role-session-name }}
          aws-region: ${{ inputs.aws-region }}

      - name: Install AWS CDK v2
        run: npm install -g aws-cdk@2.x

      - name: Deploy CDK app
        run: |
          pip install - requirments.txt
          cdk deploy <stack name>
        working-directory: <path/to/cdk_stack>